body{
  background: #FDEA47;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 100px;
  color: #4A4A4A;
}

strong{
  font-weight: 800 !important;
}

em{
  font-weight: 300;
  font-style: normal;
}

h1{
  font-size: 3em;
}
